<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEAN STACK Form Submission</title>
</head>
<body>
    <h1>Select an option:</h1>
    <ul>
        <li><a href="/form">Add Data</a></li>
        <li><a href="/view">View Data</a></li>
        <li><a href="/update">Update Data</a></li>
        <li><a href="/delete">Delete Data</a></li>
    </ul>

</body>
</html>